@model EntityFrameworkDemo.Models.Student

@{
    ViewData["Title"] = "Edit";
}

<h4>Student</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-3">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" readonly/>
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Java" class="control-label"></label>
                <input asp-for="Java" class="form-control" />
                <span asp-validation-for="Java" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="DotNet" class="control-label"></label>
                <input asp-for="DotNet" class="form-control" />
                <span asp-validation-for="DotNet" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="SQL" class="control-label"></label>
                <input asp-for="SQL" class="form-control" />
                <span asp-validation-for="SQL" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Angular" class="control-label"></label>
                <input asp-for="Angular" class="form-control" />
                <span asp-validation-for="Angular" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Percentage" class="control-label"></label>
                <input asp-for="Percentage" class="form-control" readonly/>
                <span asp-validation-for="Percentage" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <input type="submit" value="Update Student" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    @if (!string.IsNullOrEmpty(ViewBag.ErrorMsg))
    {
        @ViewBag.ErrorMsg
    }
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
